parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        - vendor/*
        - tests/*
        - scratch/*
    bootstrapFiles:
        - ../../../tests/bootstrap.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Допустимые динамические свойства сервисов phpBB и шаблонизатора Twig
        - '#Access to an undefined property phpbb\\user::\$data#'
        - '#Call to an undefined method phpbb\\template\\template::retrieve_var\(\)#'
