<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../../../tests/bootstrap.php"
         colors="true"
         verbose="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="AdvancedHide Unit Tests">
            <directory suffix="_test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="AdvancedHide Functional Tests">
            <directory suffix="_test.php">./tests/functional</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./controller</directory>
            <directory suffix=".php">./service</directory>
            <directory suffix=".php">./event</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
